.form-group
  label(for='title').control-label Title
  input.form-control(id='title' type='text' ng-model='item.title' placeholder='Title')
  label(for='title').control-label Partner
  input.form-control(id='partner' type='text' ng-model='item.partner' placeholder='Partner')
  label(for='description').control-label Description
    textarea.form-control(id='description' rows='5' ng-model='item.description' placeholder='Description')

  .form-group
    .row
      .col-md-12
        label.control-label Date
        p.input-group
          input.form-control(id='date' type='text' ng-model='item.date' is-open='opened' placeholder='DATE' uib-datepicker-popup='{{format}}' uib-datepicker-options='dateOptions' date-disabled='disabled(date, mode)' close-text='Close')
          span.input-group-btn
            button.btn.btn-default(ng-click='opened=!opened')
              i.glyphicon.glyphicon-calendar


  label(for='url').control-label Url
  input.form-control(id='url' type='text' ng-model='item.url' placeholder='Url')
