
<div id="page-wrapper" ng-class="{open: toggle}" ng-cloak="ng-cloak">
  <side-bar></side-bar>
  <div id="content-wrapper">
    <navbar></navbar>
    <div class="page-content">
      <div class="row">
        <div class="col-lg-12">
          <rd-widget>
            <rd-widget-header icon="fa-tasks" title="{{type}}">
              <div class="row">
                <input class="form-control input-sm" type="text" placeholder="Find a {{type}} here." ng-model="$parent.$parent.$parent.searchField"/>
              </div>
              <div class="row">
                <button class="btn btn-xs btn-primary pull-left" ng-if="type == 'life/pin'" ng-click="filterUserToggle('all')" ng-class="{active: filterList == 'all'}"><span>All Pins</span></button>
                <button class="btn btn-xs btn-primary pull-left" ng-if="type == 'life/pin'" ng-click="filterUserToggle('mine')" ng-class="{active: filterList == 'mine'}"><span>My Pins</span></button>
                <button class="btn btn-xs btn-primary pull-left" ng-if="type == 'life/pin'" ng-click="filterUserToggle('others')" ng-class="{active: filterList == 'others'}"><span>Other Pins</span></button>
                <button class="btn btn-xs btn-primary pull-right" ng-click="newIndex()"><span class="glyphicon glyphicon-plus"></span><span>Add new</span></button>
              </div>
              <div class="row" ng-if="isAlgoliaImportable()">
                <button class="btn btn-xs btn-primary pull-right" ng-click="importAlgolia()"><span class="glyphicon glyphicon-send"></span><span>Import All to algolia</span></button>
              </div>
              <videos-import></videos-import>
            </rd-widget-header>
            <rd-widget-body class="medium no-padding">
              <div class="table-responsive">
                <table class="table">
                  <colgroup>
                    <col class="col-md-1"/>
                    <col class="col-md-2" ng-if="hasThumb()"/>
                    <col class="col-md-7"/>
                    <col class="col-md-2" ng-if="hasMail()"/>
                    <col class="col-md-1" ng-if="type == 'video'"/>
                    <col class="col-md-1" ng-if="type == 'season'"/>
                    <col class="col-md-1" ng-if="type == 'episode'"/>
                    <col class="col-md-1" ng-if="type == 'episode'"/>
                    <col class="col-md-1"/>
                    <col class="col-md-1"/>
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center" ng-if="hasThumb()">Thumb</th>
                      <th class="text-center">Title</th>
                      <th class="text-center" ng-if="hasMail()">Email</th>
                      <th class="text-center" ng-if="type == 'video'">DRM</th>
                      <th class="text-center" ng-if="type == 'season'">Season Number</th>
                      <th class="text-center" ng-if="type == 'episode'">Season Number</th>
                      <th class="text-center" ng-if="type == 'episode'">Episode Number</th>
                      <th class="text-center" ng-if="type == 'episode'">Episode Number In prod</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody ng-model="items" directive-if="{'ui-sortable': 'sortable === true'}" ui-sortable="sortableOptions">
                    <tr dir-paginate="item in items | filter: filterListFunction | itemsPerPage : itemsPerPage | DataFormater" total-items="totalItems" current-page="pagination.current" pagination-id="itemsPagination">
                      <td class="text-center"><span>{{item._id}}</span></td>
                      <td ng-if="hasThumb()" ng-class="item.genericThumb && item.genericThumb.imgix ? 'thumbnail' : ''"><img class="poster img-responsive" src="{{item.genericThumb.imgix}}?fit=crop&amp;w=200&amp;h=160"/></td>
                      <td class="text-center"><strong>{{item.genericTitle}}</strong><br/><span class="text-muted">{{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}</span></td>
                      <td class="text-center" ng-if="hasMail()"><strong>{{item.email}}</strong></td>
                      <td class="text-center" ng-if="type == 'video'">
                        <div style="margin:12px 5px 0 5px;">{{item.drm?'&#x2713;':'&#x274c;'}}</div>
                      </td>
                      <td class="text-center" ng-if="type == 'season'"><strong>{{item.seasonNumber}}</strong></td>
                      <td class="text-center" ng-if="type == 'episode'"><strong>{{item.season.seasonNumber}}</strong></td>
                      <td class="text-center" ng-if="type == 'episode'"><strong>{{item.episodeNumber}}</strong></td>
                      <td class="text-center" ng-if="type != 'store'">
                        <button class="btn btn-xs btn-default" ng-click="activateIndex(item)" uib-tooltip="{{item.active ? 'remove from prod' : 'push in prod'}}"><span ng-class="item.active ? 'text-success':'text-danger'"><i class="fa" ng-class="item.active ? 'fa-toggle-on': 'fa-toggle-off'"></i></span></button>
                      </td>
                      <td class="pull-right">
                        <button class="btn btn-xs btn-primary" ng-click="editIndex(item)" uib-tooltip="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-xs btn-info" ng-click="cloneIndex(item)" uib-tooltip="Clone" ng-if="!hasMail()"><span class="fa fa-clone"></span></button>
                        <button class="btn btn-xs btn-danger" ng-click="deleteIndex(item.genericTitle, item)" uib-tooltip="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <dir-pagination-controls pagination-id="itemsPagination" on-page-change="loadPage(newPageNumber)" boundary-links="true"></dir-pagination-controls>
            </rd-widget-body>
          </rd-widget>
        </div>
      </div>
    </div>
  </div>
</div>