div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          rd-widget
            rd-widget-header(icon='fa-tasks' title='{{type}}')
              .row
                input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='$parent.$parent.$parent.searchField')
              .row
                button.btn.btn-xs.btn-primary.pull-right(ng-click='newIndex()')
                  span.glyphicon.glyphicon-plus
                  span Add new
                button.btn.btn-xs.btn-primary.pull-right(ng-click='importCSV()' ng-controller='StoresCtrl')
                  span.glyphicon.glyphicon-send
                  span Import csv
              videos-import

            rd-widget-body.medium.no-padding
              .table-responsive
                table.table
                  colgroup
                    col.col-md-1
                    col.col-md-7
                    col.col-md-1
                    col.col-md-1
                  thead
                    tr
                      th.text-center ID
                      th.text-center Title
                      th.text-center Actions
                  tbody(ng-model='items' directive-if="{'ui-sortable': 'sortable === true'}" ui-sortable='sortableOptions' )
                    tr(dir-paginate='item in items | itemsPerPage : itemsPerPage | DataFormater' total-items='totalItems' current-page='pagination.current' pagination-id='itemsPagination')
                      td.text-center
                        span {{item._id}}
                      td.text-center
                        strong {{item.genericTitle}}
                      td.pull-right
                        button.btn.btn-xs.btn-primary(ng-click='editIndex(item)' uib-tooltip='Edit' )
                          span.glyphicon.glyphicon-pencil
                        button.btn.btn-xs.btn-info(ng-click='cloneIndex(item)' uib-tooltip='Clone' ng-if='!hasMail()')
                          span.fa.fa-clone
                        button.btn.btn-xs.btn-danger(ng-click='deleteIndex(item.genericTitle, item)' uib-tooltip='Delete' )
                          span.glyphicon.glyphicon-trash
              dir-pagination-controls(pagination-id='itemsPagination'  on-page-change='loadPage(newPageNumber)' boundary-links='true')
