

<div class="modal-body" mailer-list-form="mailer-list-form">
  <div ng-if="loading">Please wait, loading ... :)</div>
  <div ng-if="!loading">
    <form role="form"></form>
    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="form-control" type="text" ng-model="item.name" style="display:inline;width:60%"/>
      <button class="btn btn-primary" type="submit" ng-click="addItem()" ng-if="!item._id && !loading">Create</button>
      <button class="btn btn-primary" type="submit" ng-click="updateItem()" ng-if="item._id && !loading">Update</button>
    </div>
    <div class="form-group" ng-if="item._id && !loading">
      <label class="control-label">Providers</label>
        <table style="margin-top:10px">
          <tr ng-repeat="asso in assoProviders">
            <td width="100" style="text-align:center">{{asso.provider.name}}</td>
            <td>
                <button class="btn btn-primary" type="submit" ng-if="!asso.linked" style="margin-top:0;background-color:green" ng-click="link(asso.provider)">CREATE</button>
                <button class="btn btn-danger" type="submit" ng-if="asso.linked" style="margin-top:0" ng-click="unlink(asso.provider)">DELETE</button>
            </td>
            <td>
              <div ng-if="asso.info.link">
                <a target="_blank" href="{{asso.info.link}}">link</a>
              </div>
            </td>
          </tr>
        </table>
        <div ng-if="error">ERROR {{error}}</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="form-group">
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
  </div>
</div>
