
<script type="text/ng-template" id="imagesTemplate.html"><a><img ng-src="{{match.model.imgix}}?fit=crop&amp;w=100&amp;h=30"/><span ng-bind-html="match.label | typeaheadHighlight:query"></span></a></script>
<div class="modal-header" style="background-image:url({{item.poster.imgix}}?fit=crop&amp;w=1000&amp;h=200);">
  <button class="close" data-dismiss="modal" aria-hidden="true"></button>
  <h4 class="modal-title" style="color:#000;">{{item.title | limitTo:50}}</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div ng-if="modalType === 'category'">
      <categorys></categorys>
    </div>
    <div ng-if="modalType === 'pres'">
      <press></press>
    </div>
    <div ng-if="modalType === 'video'">
      <videos></videos>
    </div>
    <div ng-if="modalType === 'language'">
      <languages></languages>
    </div>
    <div ng-if="modalType === 'image'">
      <images></images>
    </div>
    <div ng-if="modalType === 'licensor'">
      <licensors></licensors>
    </div>
    <div ng-if="modalType === 'client'">
      <clients></clients>
    </div>
    <div ng-if="modalType === 'user'">
      <users></users>
    </div>
    <div ng-if="modalType === 'actor'">
      <actors></actors>
    </div>
    <div ng-if="modalType === 'post'">
      <posts></posts>
    </div>
    <div ng-if="modalType === 'config'">
      <configs></configs>
    </div>
    <div ng-if="modalType === 'widget'">
      <widgets></widgets>
    </div>
    <div ng-if="modalType === 'work'">
      <works></works>
    </div>
    <div ng-if="modalType === 'store'">
      <stores></stores>
    </div>
    <div ng-if="modalType === 'notification'">
      <notifications></notifications>
    </div>
    <div ng-if="modalType !== 'pres' && modalType !== 'category' && modalType !== 'video' && modalType !== 'language' && modalType !== 'image' && modalType !== 'licensor' && modalType !== 'client' && modalType !== 'user' && modalType !== 'actor' && modalType !== 'post' && modalType !== 'config' && modalType !== 'widget' && modalType !== 'work' && modalType !== 'store' && modalType !== 'notification'">
      <div class="form-group">
        <label class="control-label" for="type">Type</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="item.type" btn-radio="'movie'" ng-if="isFilm()">Movie</label>
          <label class="btn btn-primary" ng-model="item.type" btn-radio="'serie'" ng-if="isFilm()">Série</label>
          <label class="btn btn-primary" ng-model="item.type" btn-radio="'season'" ng-if="isSeason()">Season</label>
          <label class="btn btn-primary" ng-model="item.type" btn-radio="'episode'" ng-if="isEpisode()">Episode</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="title">Title</label>
        <localize-button ng-model="item" ng-key="title"></localize-button>
        <input class="form-control" id="title" type="text" ng-model="item.title" ng-change="slugify(item.title)" placeholder="Title"/>
        <label class="control-label" for="slug">Slug</label>
        <input class="form-control" id="slug" type="text" ng-model="item.slug" placeholder="Slug url"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="thumb">Logo</label>
        <div>
          <input class="form-control" type="text" ng-model="item.logo" placeholder="Search logo" uib-typeahead="image as image.name for image in loadImages($viewValue, 'logo') | limitTo: 30" uib-typeahead-template-url="imagesTemplate.html" style="display:inline;width:80%;"/>
          <button class="btn btn-s btn-primary" ng-click="uploadImage('logo')" style="display:inline;">Upload</button>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="thumb">Thumb</label>
        <div>
          <input class="form-control" type="text" ng-model="item.thumb" placeholder="Search thumb" uib-typeahead="image as image.name for image in loadImages($viewValue, 'thumb') | limitTo: 30" uib-typeahead-template-url="imagesTemplate.html" style="display:inline;width:80%;"/>
          <button class="btn btn-s btn-primary" ng-click="uploadImage('thumb')" style="display:inline;">Upload</button>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="poster">Poster</label>
        <div>
          <input class="form-control" type="text" ng-model="item.poster" placeholder="Search poster" uib-typeahead="image as image.name for image in loadImages($viewValue,'poster') | limitTo: 5" uib-typeahead-template-url="imagesTemplate.html" style="display:inline;width:80%;"/>
          <button class="btn btn-s btn-primary" ng-click="uploadImage('poster')" style="display:inline;">Upload</button>
        </div>
        <h6 class="control-label">Poster Profiles (16:31 adSpots)</h6>
        <div class="row fix-height" ng-if="item.poster">
          <div class="img-ratio-adspot col-md-3"><img class="img-thumbnail" ng-src="{{item.poster.imgix}}{{extractProfile(item.poster,'16:31')}}" ng-click="cropImage(item.poster,'16:31')"/></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Dates</label>
        <div class="row">
          <table style="width:100%;">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                      <div class="input-group" uib-dropdown="uib-dropdown"><a class="dropdown-toggle-datefrom" uib-dropdown-toggle="uib-dropdown-toggle" id="dateFromToggle">
                          <input class="form-control" type="text" value="{{toHumanDate(item.dateFrom)}}" readonly="true" style="min-width:300px;background-color:white;" placeholder="FROM"/></a>
                        <ul class="dropdown-menu" uib-dropdown-menu="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                          <li>
                            <datetimepicker id="dateFrom" ng-model="item.dateFrom" ng-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle-datefrom' }"></datetimepicker>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td><i class="fa fa-eraser" aria-hidden="true" ng-click="item.dateFrom=null"></i></td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <div class="input-group" uib-dropdown="uib-dropdown"><a class="dropdown-toggle-dateto" uib-dropdown-toggle="uib-dropdown-toggle" id="dateToToggle">
                          <input class="form-control" type="text" value="{{toHumanDate(item.dateTo)}}" readonly="true" style="min-width:300px;background-color:white;" placeholder="TO"/></a>
                        <ul class="dropdown-menu" uib-dropdown-menu="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                          <li>
                            <datetimepicker id="dateTo" ng-model="item.dateTo" ng-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle-dateto' }"></datetimepicker>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td><i class="fa fa-eraser" aria-hidden="true" ng-click="item.dateTo=null"></i></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="synopsis">Synopsis</label>
        <localize-button ng-model="item" ng-key="synopsis"></localize-button>
        <textarea class="form-control" id="synopsis" rows="4" ng-model="item.synopsis" placeholder="Description"></textarea>
      </div>
      <movies ng-if="isFilm()"></movies>
      <seasons ng-if="isSeason()"></seasons>
      <episodes ng-if="isEpisode()"></episodes>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="addItem()" ng-if="!item._id">Add</button>
  <button class="btn btn-primary" type="submit" ng-click="updateItem()" ng-if="item._id">Update</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>