.modal-header
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title Translate
.modal-body
  form.form-horizontal(role='form')

    .form-group
      <!-- editor -->
      uib-tabset
        uib-tab(ng-repeat="lang in langList  | filter: removeDefaultLocale" index="{{$index}}" heading="{{lang.label}}")
          localize-input(ng-tag="{{tag}}" ng-key="{{key}}" ng-lang="{{lang.lang.toUpperCase()}}" ng-model="item.translations")

    <!-- div {{item | json}} -->

  div
    button.btn.btn-s(type='button' ng-click='close()' ) Close

.modal-footer
