
<div class="form-group">
  <label class="control-label" for="title">Title</label>
  <input class="form-control" id="title" type="text" ng-model="item.title" placeholder="Title"/>
</div>
<div class="form-group">
  <label class="control-label" for="description">Body</label>
  <textarea class="form-control" id="description" rows="5" ng-model="item.body" placeholder="Body"></textarea>
</div>
<div class="form-group">
  <label class="control-label" for="to">To</label>
  <input class="form-control" id="to" type="text" ng-model="item.to" placeholder="Registration Token or topics"/>
  <label class="control-label" for="icon">Icon</label>
  <input class="form-control" id="icon" type="text" ng-model="item.icon" placeholder="The notifications icon."/>
  <label class="control-label" for="color">Color (expressed in #rrggbb format)</label>
  <input class="form-control" id="color" type="text" ng-model="item.color" placeholder="The notifications color."/>
  <label class="control-label" for="action">Action</label>
  <input class="form-control" id="action" type="text" ng-model="item.action" placeholder="The action associated with a user click on the notification."/>
  <label class="control-label" for="sound">Sound</label>
  <input class="form-control" id="sound" type="text" ng-model="item.sound" placeholder="The sound to play when the device receives the notification."/>
  <label class="control-label">Priority</label>
  <select class="form-control" type="text" ng-model="item.priority" ng-options="option as option for option in [&quot;normal&quot;, &quot;high&quot;]" style="width:auto;"></select>
  <label class="control-label" for="messageId">MessageId Firebase</label>
  <input class="form-control" disabled="disabled" id="messageId" type="text" ng-model="item.messageId" placeholder="The notifications Firebase messageId."/>
  <div class="form-group" ng-class="{&quot;has-error&quot; : !wellFormed}">
    <label class="control-label">Data</label>
    <textarea class="form-control" ng-model="jsonString" rows="10"></textarea>
  </div>
  <div class="btn-group">
    <button class="btn btn-warning" type="button" ng-click="pushNotification()" ng-disabled="!(item._id && item.title && wellFormed && !item.messageId)"><span class="glyphicon glyphicon-upload"> Send</span></button>
  </div>
</div>