script(type='text/ng-template' id='imagesTemplate.html')
  a
    img(ng-src='{{match.model.imgix}}?fit=crop&w=100&h=30')
    span(ng-bind-html='match.label | typeaheadHighlight:query')

.modal-header(style='background-image:url({{item.image.imgix}}?fit=crop&w=1000&h=200);')
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title(style='color:#000;') {{item.title | limitTo:50}}

.modal-body
  form(role='form')

  .form-group
    label(for='scrapUrl').control-label Scrapp url
    input.form-control(id='scrapUrl' type='text' ng-model='item.scrapUrl' placeholder='Scrapp Url')

  .form-group
    label(for='originalUrl').control-label Original url
    input.form-control(id='originalUrl' type='text' ng-model='item.originalUrl' ng-change='slugify(item.originalUrl)' placeholder='Original Url')

    .form-group
      .form-group
        label(for='type').control-label Type
      .form-group
        .btn-group
          label.btn.btn-primary(ng-model='item.type' btn-radio='"website"') Website
          label.btn.btn-primary(ng-model='item.type' btn-radio='"article"') Article
          label.btn.btn-primary(ng-model='item.type' btn-radio='"video"') Video
          label.btn.btn-primary(ng-model='item.type' btn-radio='"rich"') Rich media
          label.btn.btn-primary(ng-model='item.type' btn-radio='"audio"') Audio
          label.btn.btn-primary(ng-model='item.type' btn-radio='"event"') Event
          label.btn.btn-primary(ng-model='item.type' btn-radio='"image"') Image
          label.btn.btn-primary(ng-model='item.type' btn-radio='"ads"') Ads

      .form-group
        label(for='role').control-label Acl (roles)
      .form-group
        .btn-group
          label.btn.btn-primary(ng-model='item.role' btn-radio='"free"') free
          label.btn.btn-primary(ng-model='item.role' btn-radio='"user"') user
          label.btn.btn-primary(ng-model='item.role' btn-radio='"premium"') premium
          label.btn.btn-primary(ng-model='item.role' btn-radio='"vip"') vip

      .form-group
        label.control-label Theme
        tags-input(ng-model='item.themes' placeholder='Search theme' add-from-autocomplete-only='true' display-property='label' key-property='_id')
          auto-complete(source='searchFields("life/themes",$query)' template='life-themes-template' min-length='0'
          load-on-focus='true'
          load-on-empty='true'
          max-results-to-show='32')
        script(type='text/ng-template' id='life-themes-template')
          .tag-template
            span {{data && data.label}}

      .form-group
        label.control-label User
        input.form-control(type='text' ng-model='item.user' placeholder='Search user' uib-typeahead='user as user.email for user in searchFields("users",$viewValue) | limitTo: 5')

      label(for='title').control-label Title
      localize-button(ng-model="item" ng-key="title")

      input.form-control(id='title' type='text' ng-model='item.title' ng-change='slugify(item.title)' placeholder='Title')

      label(for='description').control-label Description
      localize-button(ng-model="item" ng-key="description" ng-tag="textarea")

      textarea.form-control(id='description' rows='5' ng-model='item.description' placeholder='Description')

      label(for='image').control-label Image
      div(class="image-selector")
        img(ng-src="{{item.image.imgix}}" class="img-thumbnail img-responsive img-scrap")
        div(class="image-selector_list")
          div(ng-repeat="(imgKey, imgValue) in scrappedData.imagesList track by $index")
            input(type="radio" id="{{'img_'+imgKey}}" value="{{imgValue}}" name="imageRadio" ng-model="item.imageUrl")
            label(class="image-radio" for="{{'img_'+imgKey}}")
              img(ng-src="{{imgValue}}" class="img-thumbnail img-responsive img-scrap")

        button.btn.btn-s.btn-primary(ng-click='uploadImage("pin","image")' style="display:inline") Upload

    .form-group
      <!-- editor -->
      label(for='body').control-label Body
      localize-button( ng-model="item" ng-key="body" ng-tag="text-angular" )

      text-angular( ng-model="item.body" class="markdown" ta-unsafe-sanitizer="true" taPaste="onPasteWisiwyg($html)")

.modal-footer
  .form-group
    button.btn.btn-primary(type='submit' ng-click='scrapItem()' ng-if='!item._id') Scrapp
    button.btn.btn-primary(type='submit' ng-click='addItem()' ng-if='!item._id') Add
    button.btn.btn-primary(type='submit' ng-click='updateItem()' ng-if='item._id') Update
    button.btn.btn-primary(ng-click='cancel()') Cancel

