
<div id="page-wrapper" ng-class="{open: toggle}" ng-cloak="ng-cloak">
  <side-bar></side-bar>
  <div id="content-wrapper">
    <navbar></navbar>
    <div class="page-content">
      <div class="row">
        <div class="col-lg-12">
          <div ng-if="!ready">
            <div>Loading...</div>
          </div>
          <div ng-if="ready">
            <div class="btn-group">
              <label class="btn btn-primary {{stateFilter==&quot;inactive&quot;?&quot;active&quot;:&quot;&quot;}}" ng-model="stateFilter" ng-click="updatestateFilter(&quot;inactive&quot;)" uib-btn-radio="'inactive'">{{stats.inactiveCount}} Queued</label>
              <label class="btn btn-primary {{stateFilter==&quot;active&quot;?&quot;active&quot;:&quot;&quot;}}" ng-model="stateFilter" ng-click="updatestateFilter(&quot;active&quot;)" uib-btn-radio="'active'">{{stats.activeCount}} Active</label>
              <label class="btn btn-primary {{stateFilter==&quot;failed&quot;?&quot;active&quot;:&quot;&quot;}}" ng-model="stateFilter" ng-click="updatestateFilter(&quot;failed&quot;)" uib-btn-radio="'failed'">{{stats.failedCount}} Failed</label>
              <label class="btn btn-primary {{stateFilter==&quot;complete&quot;?&quot;active&quot;:&quot;&quot;}}" ng-model="stateFilter" ng-click="updatestateFilter(&quot;complete&quot;)" uib-btn-radio="'complete'">{{stats.completeCount}} Complete</label>
              <label class="btn btn-primary {{stateFilter==&quot;delayed&quot;?&quot;active&quot;:&quot;&quot;}}" ng-model="stateFilter" ng-click="updatestateFilter(&quot;delayed&quot;)" uib-btn-radio="'delayed'">{{stats.delayedCount}} Delayed</label>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>id</td>
                  <td>type</td>
                  <td>data</td>
                  <td>error</td>
                  <!-- td priority-->
                  <!-- td progress-->
                  <td style="width:80px;">created at</td>
                  <!-- td promote at-->
                  <!-- td updated_at-->
                  <td style="width:80px;">started at</td>
                  <td title="Attempts made" style="width:30px;">AM</td>
                  <td title="Attempts remaining" style="width:30px;">AR</td>
                  <td ng-if="stateFilter=='failed'" style="width:30px;"></td>
                  <td ng-if="stateFilter=='inactive' || stateFilter=='failed' || stateFilter=='complete'" style="width:30px;"></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="job in jobs">
                  <td>{{job.id}}</td>
                  <td>{{job.type}}</td>
                  <td>
                    <pre style="width:250px;">{{job.data}}</pre>
                  </td>
                  <td>{{job.error}}</td>
                  <!-- td {{job.priority}}-->
                  <!-- td {{job.progress}}-->
                  <td>{{job.created_at}}</td>
                  <!-- td {{job.promote_at}}-->
                  <!-- td {{job.updated_at}}-->
                  <td>{{job.started_at}}</td>
                  <td>{{job.attempts.made}}</td>
                  <td>{{job.attempts.remaining}}</td>
                  <td ng-if="stateFilter=='failed'">
                    <button class="btn btn-xs btn-warning" ng-click="retryJob(job.id)" uib-tooltip="Retry"><span class="glyphicon glyphicon-repeat"></span></button>
                  </td>
                  <td ng-if="stateFilter=='inactive' || stateFilter=='failed' || stateFilter=='complete'">
                    <button class="btn btn-xs btn-danger" ng-click="deleteJob(job.id)" uib-tooltip="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>