.form-group
  label(for='title').control-label Title
  localize-button(ng-model="item" ng-key="title")
  input.form-control(id='title' type='text' ng-model='item.title' ng-change='slugify(item.title)' placeholder='Title')
  label(for='slug').control-label Slug
  input.form-control(id='slug' type='text' ng-model='item.slug' placeholder='Slug url')
  label(for='synopsis').control-label Description
  localize-button(ng-model="item" ng-key="synopsis")
  textarea.form-control(id='synopsis' rows='5' ng-model='item.description' placeholder='Description')

.form-group
  <!-- editor -->
  localize-button(ng-model="item" ng-key="body" ng-tag="text-angular")
  text-angular( ng-model="item.body" class="markdown")
