
<script type="text/ng-template" id="imagesTemplate.html"><a><img ng-src="{{match.model.imgix}}?fit=crop&amp;w=100&amp;h=30"/><span ng-bind-html="match.label | typeaheadHighlight:query"></span></a></script>
<div class="modal-header" style="background-image:url({{item.image.imgix}}?fit=crop&amp;w=1000&amp;h=200);">
  <button class="close" data-dismiss="modal" aria-hidden="true"></button>
  <h4 class="modal-title" style="color:#000;">{{item.title | limitTo:50}}</h4>
</div>
<div class="modal-body">
  <form role="form"></form>
  <div class="form-group">
    <label class="control-label" for="title">Title</label>
    <input class="form-control" id="title" type="text" ng-model="item.title" ng-change="slugify(item.title)" placeholder="Title"/>
    <label class="control-label" for="description">Description</label>
    <textarea class="form-control" id="description" rows="5" ng-model="item.description" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label" for="type">Type</label>
  </div>
  <div class="form-group">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="item.type" btn-radio="&quot;banner&quot;">Banner</label>
      <label class="btn btn-primary" ng-model="item.type" btn-radio="&quot;horizontal&quot;">Rectangle</label>
      <label class="btn btn-primary" ng-model="item.type" btn-radio="&quot;carre&quot;">Carre</label>
      <label class="btn btn-primary" ng-model="item.type" btn-radio="&quot;vertical&quot;">Vertical</label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Theme</label>
    <tags-input ng-model="item.themes" placeholder="Search theme" add-from-autocomplete-only="true" display-property="label" key-property="_id">
      <auto-complete source="searchFields(&quot;life/themes&quot;,$query)" template="life-themes-template" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="32"></auto-complete>
    </tags-input>
    <script type="text/ng-template" id="life-themes-template">
      <div class="tag-template"><span>{{data && data.label}}</span></div>
    </script>
  </div>
  <div class="form-group">
    <label class="control-label" for="image">Image</label>
    <div><img class="img-thumbnail img-responsive" ng-src="{{item.image.imgix}}"/>
      <input class="form-control" type="text" ng-model="item.image" placeholder="Search image" uib-typeahead="image as image.name for image in loadImages($viewValue, &quot;spot&quot;) | limitTo: 30" uib-typeahead-template-url="imagesTemplate.html" style="display:inline;width:80%;"/>
      <button class="btn btn-s btn-primary" ng-click="uploadImage(&quot;spot&quot;,&quot;image&quot;)" style="display:inline;">Upload</button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="targetUrl">Target Url</label>
    <input class="form-control" id="targetUrl" type="text" ng-model="item.targetUrl" placeholder="Target"/>
    <label class="control-label" for="pixelUrl">Pixels Url (comma separated)</label>
    <textarea class="form-control" id="pixelUrl" rows="5" ng-model="item.pixelUrl" placeholder="Pixels"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label" for="displayWidth">Width</label>
    <input class="form-control" id="displayWidth" type="text" ng-model="item.displayWidth" placeholder="Width"/>
    <label class="control-label" for="displayHeight">Height</label>
    <input class="form-control" id="displayHeight" type="text" ng-model="item.displayHeight" placeholder="Height"/>
  </div>
  <div class="form-group">
    <label class="control-label">Dates</label>
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">From (inclu)</label>
        <p class="input-group">
          <input class="form-control" id="dateFrom" type="text" ng-model="item.dateFrom" is-open="opened" placeholder="FROM" uib-datepicker-popup="{{format}}" uib-datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/><span class="input-group-btn">
            <button class="btn btn-default" ng-click="opened=!opened"><i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
      </div>
      <div class="col-md-6">
        <label class="control-label">To (exclu)</label>
        <p class="input-group">
          <input class="form-control" id="dateTo" type="text" ng-model="item.dateTo" is-open="opened2" placeholder="TO" uib-datepicker-popup="{{format}}" min-date="item.dateFrom" uib-datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/><span class="input-group-btn">
            <button class="btn btn-default" ng-click="opened2=!opened2"><i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="form-group">
    <button class="btn btn-primary" type="submit" ng-click="addItem()" ng-if="!item._id">Add</button>
    <button class="btn btn-primary" type="submit" ng-click="updateItem()" ng-if="item._id">Update</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
  </div>
</div>