.modal-header(style='background-color:#30426a;')
  button.close(data-dismiss='modal' ng-click='cancel()')
  h4.modal-title Pf contents

.modal-body.videos(ng-if='!pfContents')
  div
    | Loading...

div(ng-if='pfContents')
  .row(style="padding:5px")
    input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='searchField')

  .modal-body.videos(ng-if='pfContents')
    .row
      table.table.table-striped.table-hover.table-condensed
        colgroup
          col.col-md-1
          col.col-md-1
          col.col-md-1
          col.col-md-1
          col.col-md-2
        thead
          tr
            th pfLink
            th pfState
            th pfFilename
            th duration
            th import status
        tbody
          tr(ng-repeat="pfContent in pfContents | filter:{filename:searchField} | orderBy:['pfState','-video','-createdAt']")
            td
              div
                a(target="_blank" href='http://p-afsmsch-001.afrostream.tv:4000/api/contents/{{pfContent.contentId}}') link
            td.text-center
              span {{pfContent.state}}
            td(style="max-width: 500px; width: 5000px;")
              div(style="width:500px;overflow:hidden;") {{pfContent.filename}}
            td
              span {{pfContent.duration}}
            td
              div(ng-if="pfContent.video")
                a(target="_blank" href='/videos#id={{pfContent.video._id}}') Already imported
              button.btn.btn-primary(ng-if="!pfContent.video" ng-click="import(pfContent)") Import
            td
              strong {{item.duration}}
